{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block main %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 py-4">
	    	<h1 class="h2">{% trans 'Reset Password' %}</h1>
	    	<hr>
	    	<p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
            <form method="post">
                {% csrf_token %}
                {{ form|as_crispy_errors }}
                {{ form|crispy }}
                <hr>
                <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}"/>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}