{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block main %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 py-4">
            <h1 class="h2">{% trans 'Change Password' %}</h1>
            <hr>
            {% include "messages.html" %}
            <form method="post">
                {% csrf_token %}
                {{ form|as_crispy_errors }}
                {{ form|crispy }}
                <hr>
                <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}