{% extends "base.html" %}
{% load i18n static %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block main %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet libero eget ex lobortis sagittis. Duis malesuada quis metus sit amet vulputate. Nam elit est, maximus nec urna sit amet, finibus sodales odio. Praesent pulvinar tellus sit amet ligula egestas, nec imperdiet dolor venenatis. Aliquam eleifend dignissim fringilla. Phasellus tempus turpis sed sollicitudin facilisis. Quisque augue eros, gravida ut fermentum a, egestas quis justo. Nunc commodo lorem a magna malesuada convallis. </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet libero eget ex lobortis sagittis. Duis malesuada quis metus sit amet vulputate. Nam elit est, maximus nec urna sit amet, finibus sodales odio. Praesent pulvinar tellus sit amet ligula egestas, nec imperdiet dolor venenatis. Aliquam eleifend dignissim fringilla. Phasellus tempus turpis sed sollicitudin facilisis. Quisque augue eros, gravida ut fermentum a, egestas quis justo. Nunc commodo lorem a magna malesuada convallis. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet libero eget ex lobortis sagittis. Duis malesuada quis metus sit amet vulputate. Nam elit est, maximus nec urna sit amet, finibus sodales odio. Praesent pulvinar tellus sit amet ligula egestas, nec imperdiet dolor venenatis. Aliquam eleifend dignissim fringilla. Phasellus tempus turpis sed sollicitudin facilisis. Quisque augue eros, gravida ut fermentum a, egestas quis justo. Nunc commodo lorem a magna malesuada convallis. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet libero eget ex lobortis sagittis. Duis malesuada quis metus sit amet vulputate. Nam elit est, maximus nec urna sit amet, finibus sodales odio. Praesent pulvinar tellus sit amet ligula egestas, nec imperdiet dolor venenatis. Aliquam eleifend dignissim fringilla. Phasellus tempus turpis sed sollicitudin facilisis. Quisque augue eros, gravida ut fermentum a, egestas quis justo. Nunc commodo lorem a magna malesuada convallis. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>
    <hr>
</div>
{% endblock %}